In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib inline
import seaborn as sns

from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.model_selection import GridSearchCV, KFold, cross_val_score
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score, make_scorer
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

import plotly
import cufflinks as cf

In [2]:
lt = pd.read_csv('data/CDCLifeTables.csv')

In [3]:
lt

,Age (x),Year of Estimation,Year Born (Year of Estimation - Age),Race,Gender,Probability of dying between ages x and x + 1 (qx),Number surviving to age x (lx),Number dying between ages x and x + 1 (dx),Person-years lived between ages x and x + 1 (Lx),Total number of person-years lived above age x,Expectation of life at age x,Expected Age at Death
0,1.0,2017.0,2016,Non-Hispanic White,M,0.005168,"100,000",517,"99,547","7,608,533",76.1,77.1
1,2.0,2017.0,2015,Non-Hispanic White,M,0.000436,"99,483",43,"99,462","7,508,986",75.5,77.5
2,3.0,2017.0,2014,Non-Hispanic White,M,0.000319,"99,440",32,"99,424","7,409,524",74.5,77.5
3,4.0,2017.0,2013,Non-Hispanic White,M,0.000204,"99,408",20,"99,398","7,310,100",73.5,77.5
4,5.0,2017.0,2012,Non-Hispanic White,M,0.000165,"99,388",16,"99,380","7,210,702",72.6,77.6
...,...,...,...,...,...,...,...,...,...,...,...,...
596,97.0,2017.0,1920,Hispanic,F,0.202533,"16,225","3,286","14,582","55,749",3.4,100.4
597,98.0,2017.0,1919,Hispanic,F,0.222840,"12,939","2,883","11,497","41,168",3.2,101.2
598,99.0,2017.0,1918,Hispanic,F,0.243984,"10,055","2,453","8,829","29,671",3.0,102.0
599,100.0,2017.0,1917,Hispanic,F,0.265783,"7,602","2,020","6,592","20,842",2.7,102.7
600,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0