In [87]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib inline
import seaborn as sns   
from pivottablejs import pivot_ui



# from sklearn._ import
# from scipy.stats import 
# import statsmodels.api as sm

In [88]:
nlms = pd.read_csv('data/NLMS_PublicUse_5.1/11_new.csv', index_col='record')

/opt/anaconda3/lib/python3.7/site-packages/numpy/lib/arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [89]:
nlms.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1835072 entries, 88426 to 670
Data columns (total 42 columns):
 #   Column    Dtype
---  ------    -----
 0   age       int64
 1   race      float64
 2   sex       int64
 3   ms        float64
 4   hisp      float64
 5   adjinc    float64
 6   educ      float64
 7   pob       int64
 8   wt        int64
 9   hhid      int64
 10  hhnum     int64
 11  reltrf    float64
 12  occ       float64
 13  majocc    float64
 14  ind       float64
 15  majind    float64
 16  esr       float64
 17  urban     float64
 18  smsast    float64
 19  inddea    int64
 20  cause113  int64
 21  follow    int64
 22  dayod     float64
 23  hosp      float64
 24  hospd     float64
 25  ssnyn     int64
 26  vt        float64
 27  histatus  float64
 28  hitype    float64
 29  povpct    int64
 30  stater    int64
 31  rcow      float64
 32  tenure    float64
 33  citizen   float64
 34  health    float64
 35  indalg    float64
 36  smok100   float64
 37  agesmk    float64
 38  smokstat  float64
 39  smokhome  float64
 40  curruse   float64
 41  everuse   float64
dtypes: float64(30), int64(12)
memory usage: 602.0 MB

In [90]:
nlms.columns

Index(['age', 'race', 'sex', 'ms', 'hisp', 'adjinc', 'educ', 'pob', 'wt',
       'hhid', 'hhnum', 'reltrf', 'occ', 'majocc', 'ind', 'majind', 'esr',
       'urban', 'smsast', 'inddea', 'cause113', 'follow', 'dayod', 'hosp',
       'hospd', 'ssnyn', 'vt', 'histatus', 'hitype', 'povpct', 'stater',
       'rcow', 'tenure', 'citizen', 'health', 'indalg', 'smok100', 'agesmk',
       'smokstat', 'smokhome', 'curruse', 'everuse'],
      dtype='object')

In [91]:
cols = ['age', 'race', 'sex', 'ms', 'hisp', 'adjinc', 'educ', 'pob',
       'wt', 'hhid', 'hhnum', 'reltrf', 'occ', 'majocc', 'ind', 'majind',
       'esr', 'urban', 'smsast', 'inddea', 'cause113', 'follow', 'dayod',
       'hosp', 'hospd', 'ssnyn', 'vt', 'histatus', 'hitype', 'povpct',
       'stater', 'rcow', 'tenure', 'citizen', 'health', 'indalg', 'smok100',
       'agesmk', 'smokstat', 'smokhome', 'curruse', 'everuse']

In [97]:
col_dict = {'index': 'record number', 'age': 'age at time of interview', 'race': 'race', 'sex': 'gender', 
            'ms': 'marital status', 'hisp': 'hispanic', 'adjinc': 'inflation adjusted income', 'educ': 'highest grade completed', 
            'pob': 'region of birth', 'wt': 'adjusted weight', 'hhid': 'household ID number', 'hhnum': 'number of people in household',
            'reltrf': 'relationship to reference person', 'occ': '4 digit occupation code', 'majocc': 'major occupation code',
            'ind': '4 digit industry code', 'majind': 'major industry code', 'esr': 'employment status recode', 
            'urban': 'urban / rural status', 'smsast': 'SMSAST (Standard Metropolitan Statistical Area) status', 'inddea': 'death indicator',
            'cause113': 'cause of death', 'follow': 'length of follow-up', 'dayod': 'day of week of death', 
            'hosp': 'hospital type', 'hosppd': 'hospital death indicator', 'ssnyn': 'presence of ssn', 
            'vt': 'veteran status', 'histatus': 'health insurance status', 'hitype': 'health insurance type', 
            'povpct': 'income as percent of poverty level', 'stater': 'state recode', 'rcow': 'recoded class of worker', 
            'tenure': 'housing tenure', 'citizen': 'citizenship', 'health': 'health', 'indalg': 'indicator of algorithmic death', 
            'smok100': 'smoked more than 100 cigarettes', 'agesmk': 'age started smoking',
            'smokstat': 'cigarette smoking status', 'smokhome': 'rules for smoking cigarettes in the home', 
            'curruse': 'currently use smokeless tobacco', 'everuse': 'ever use smokeless tobacco'}

In [113]:
print(col_dict)

{'index': 'record number', 'age': 'age at time of interview', 'race': 'race', 'sex': 'gender', 'ms': 'marital status', 'hisp': 'hispanic', 'adjinc': 'inflation adjusted income', 'educ': 'highest grade completed', 'pob': 'region of birth', 'wt': 'adjusted weight', 'hhid': 'household ID number', 'hhnum': 'number of people in household', 'reltrf': 'relationship to reference person', 'occ': '4 digit occupation code', 'majocc': 'major occupation code', 'ind': '4 digit industry code', 'majind': 'major industry code', 'esr': 'employment status recode', 'urban': 'urban / rural status', 'smsast': 'SMSAST (Standard Metropolitan Statistical Area) status', 'inddea': 'death indicator', 'cause113': 'cause of death', 'follow': 'length of follow-up', 'dayod': 'day of week of death', 'hosp': 'hospital type', 'hosppd': 'hospital death indicator', 'ssnyn': 'presence of ssn', 'vt': 'veteran status', 'histatus': 'health insurance status', 'hitype': 'health insurance type', 'povpct': 'income as percent of poverty level', 'stater': 'state recode', 'rcow': 'recoded class of worker', 'tenure': 'housing tenure', 'citizen': 'citizenship', 'health': 'health', 'indalg': 'indicator of algorithmic death', 'smok100': 'smoked more than 100 cigarettes', 'agesmk': 'age started smoking', 'smokstat': 'cigarette smoking status', 'smokhome': 'rules for smoking cigarettes in the home', 'curruse': 'currently use smokeless tobacco', 'everuse': 'ever use smokeless tobacco'}

In [101]:
lens = nlms.apply(lambda x: len(x.unique()))
lens

age             91
race             6
sex              2
ms               6
hisp             4
adjinc          15
educ            15
pob             64
wt             930
hhid        745424
hhnum           21
reltrf           7
occ            365
majocc          12
ind            229
majind          15
esr              6
urban            3
smsast           4
inddea           2
cause113       106
follow        4019
dayod            8
hosp             7
hospd            6
ssnyn            2
vt               3
histatus         3
hitype           7
povpct          21
stater          51
rcow             6
tenure           4
citizen          6
health           6
indalg           3
smok100          1
agesmk           1
smokstat         1
smokhome         1
curruse          1
everuse          1
dtype: int64

In [93]:
nlms.pob.unique()

array([909,   0, 942, 928, 917, 925, 104, 111, 934, 945, 936, 944, 107,
       927, 926, 948, 906, 950, 937, 911, 933, 939, 106, 109, 912, 108,
       913, 102, 949, 103, 931, 954, 951, 924, 901, 918, 938, 956, 923,
       947, 921, 101, 105, 955, 941, 953, 905, 902, 920, 915, 904, 930,
       922, 940, 932, 908, 910, 946, 935, 110, 919, 916, 929, 960])

In [94]:
pob_dict = {909: 'CT',   0: np.nan, 942: 'PA', 928: 'MS', 917: 'IL', 925: 'MA', 104: 'Western Europe', 111: 'Other NS', 934: 'NJ', 945: 'SC', 936: 'NY', 944: 'RI', 107: 'Central America',
       927: 'MN', 926: 'MI', 948: 'TX', 906: 'CA', 950: 'VT', 937: 'NC', 911: 'DC', 933: 'NH', 939: 'OH', 106: 'South America', 109: 'Island Country', 912: 'FL', 108: 'Mexico',
       913: 'GA', 102: 'Asia', 949: 'UT', 103: 'Eastern Europe', 931: 'NE', 954: 'WV', 951: 'VA', 924: 'MD', 901: 'AL', 918: 'IN', 938: 'ND', 956: 'WY', 923: 'ME',
       947: 'TN', 921: 'KY', 101: 'Africa', 105: 'North Am, Not US or Mexico', 955: 'WI', 941: 'OR', 953: 'WA', 905: 'AR', 902: 'AK', 920: 'KS', 915: 'HI', 904: 'AZ', 930: 'MT',
       922: 'LA', 940: 'OK', 932: 'NV', 908: 'CO', 910: 'DE', 946: 'SD', 935: 'NM', 110: 'Other NS', 919: 'IA', 916: 'ID', 929: 'MO', 960: 'American Samoa'}

In [116]:
print('Pre na qty: ' + str(nlms.isnull().sum() * 100 / len(nlms)))

Pre na qty: age          0.000000
race         0.157487
sex          0.000000
ms          19.684568
hisp         2.861032
adjinc       2.412385
educ        19.120231
pob          0.000000
wt           0.000000
hhid         0.000000
hhnum        0.000000
reltrf       0.254704
occ         46.609888
majocc      46.609888
ind         46.621931
majind      46.621931
esr         19.122029
urban        0.710708
smsast       0.711471
inddea       0.000000
cause113     0.000000
follow       0.000000
dayod       91.240126
hosp        91.401209
hospd       92.088921
ssnyn        0.000000
vt          21.582314
histatus    31.484596
hitype      31.484596
povpct       0.000000
stater       0.000000
rcow        46.521880
tenure       1.386703
citizen     74.667969
health      79.067361
indalg      80.994806
dtype: float64

In [114]:
nlms.drop(columns=['smok100', 'agesmk', 'smokstat', 'smokhome', 'curruse', 'everuse'], inplace=True)

In [117]:
nlms.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1835072 entries, 88426 to 670
Data columns (total 36 columns):
 #   Column    Dtype
---  ------    -----
 0   age       int64
 1   race      float64
 2   sex       int64
 3   ms        float64
 4   hisp      float64
 5   adjinc    float64
 6   educ      float64
 7   pob       int64
 8   wt        int64
 9   hhid      int64
 10  hhnum     int64
 11  reltrf    float64
 12  occ       float64
 13  majocc    float64
 14  ind       float64
 15  majind    float64
 16  esr       float64
 17  urban     float64
 18  smsast    float64
 19  inddea    int64
 20  cause113  int64
 21  follow    int64
 22  dayod     float64
 23  hosp      float64
 24  hospd     float64
 25  ssnyn     int64
 26  vt        float64
 27  histatus  float64
 28  hitype    float64
 29  povpct    int64
 30  stater    int64
 31  rcow      float64
 32  tenure    float64
 33  citizen   float64
 34  health    float64
 35  indalg    float64
dtypes: float64(24), int64(12)
memory usage: 518.0 MB

In [118]:
nlms.shape

(1835072, 36)

In [120]:
dec = nlms[nlms.dayod.isin([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0])]

In [123]:
dec.isnull().sum() * 100 / len(dec)

age          0.000000
race         0.133126
sex          0.000000
ms           1.022706
hisp         2.618974
adjinc       2.250700
educ         0.958009
pob          0.000000
wt           0.000000
hhid         0.000000
hhnum        0.000000
reltrf       0.147434
occ         71.808398
majocc      71.808398
ind         71.815863
majind      71.815863
esr          0.941213
urban        0.108865
smsast       0.108865
inddea       0.000000
cause113     0.000000
follow       0.000000
dayod        0.000000
hosp         1.838880
hospd        9.689580
ssnyn        0.000000
vt           1.178849
histatus    30.749611
hitype      30.749611
povpct       0.000000
stater       0.000000
rcow        71.944635
tenure       0.825505
citizen     87.748056
health      82.179160
indalg      37.407154
dtype: float64

In [125]:
dec.head()

,age,race,sex,ms,hisp,adjinc,educ,pob,wt,hhid,...,vt,histatus,hitype,povpct,stater,rcow,tenure,citizen,health,indalg
record,,,,,,,,,,,,,,,,,,,,,
88427,79,1.0,2,2.0,3.0,11.0,4.0,909,132,1,...,0.0,NaN,NaN,18,16,3.0,1.0,NaN,NaN,NaN
88445,66,1.0,2,5.0,3.0,2.0,5.0,909,144,8,...,0.0,NaN,NaN,3,16,NaN,2.0,NaN,NaN,1.0
88446,70,1.0,1,1.0,3.0,7.0,5.0,942,181,13,...,0.0,NaN,NaN,10,23,NaN,1.0,NaN,NaN,NaN
88452,80,1.0,1,1.0,3.0,3.0,3.0,942,132,15,...,0.0,NaN,NaN,4,23,NaN,1.0,NaN,NaN,NaN
88453,80,1.0,2,1.0,3.0,3.0,3.0,942,147,15,...,0.0,NaN,NaN,4,23,NaN,1.0,NaN,NaN,NaN

In [130]:
from sklearn.impute import KNNImputer

In [ ]:
from sklearn

In [131]:
imputer = KNNImputer()

In [132]:
imputer.fit_transform(dec)

KeyboardInterrupt: